.contact {
    background-image: linear-gradient(to bottom, rgb(90, 77, 69), rgb(133, 119, 111), rgb(90, 77, 69));
    background-color: #50423D;
    height: 90vh;
    position: relative;
    color: white;
    font-size: 12px;
}

.contactInfo {
    letter-spacing: 3px;
}

#mapWrapper {
    position: relative;
    height: 100%;
}


@media only screen and (max-width: 600px) {
    #mapWrapper
    {
     height: 40%
    }
}