.reservation {
    background-image: linear-gradient(to bottom, rgb(90, 77, 69), rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.582)),
        url('../../../assets/images/restaurant_2.jpg');
    background-size: cover;
    background-position: 80%;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}

.reservationOption {
    font-family: "Tangerine";
    font-size: 2.3rem;
}