.mainLanding {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.253), rgba(255, 255, 255, 0.116), rgba(255, 255, 255, 0.171), rgb(90, 77, 69)),
        url('../../../assets/images/restaurantMain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}

#scroll {
    position: absolute;
    bottom: 5%;
    animation: bounce 2s infinite;
}

#logo {
    position: absolute;
    top: 5%;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50% { transform: translateY(30%); }
    100% { transform: translateY(0); }
  }