footer {
  background-color: #50423D;
  color: white;
}

input {
  border-radius: 10px;
}

button {
  border-radius: 20px;
  background-color: #353535;
  border: none;
  color: white;
}

footer p {
  font-size: 0.6rem
}