footer {
  background-color: #50423D;
  color: white;
  left: 0;
  bottom: 0;
}

input {
  border-radius: 10px;
}

button {
  border-radius: 20px;
  background-color: #353535;
  border: none;
  color: white;
}
