@font-face {
    font-family: "Great Vibes";
    src: url("./assets/fonts/GreatVibes/GreatVibes-Regular.ttf")
}

@font-face {
    font-family: "Tangerine";
    src: url("./assets/fonts/Tangerine/Tangerine-Regular.ttf")
}